<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		/* LIST #2 */
	#list2 { width:50%;}
	#list2 ol { font-style:italic; font-family:Georgia, Times, serif; font-size:50px; color:#bfe1f1;  }
	#list2 ol li p {text-align: left;padding-left:20px;font-style:normal; font-family:Arial; font-size:20px; color:#eee; border-left: 1px solid #999;}
	</style>
</head>
<body>
	<div id="list2" style="margin-left: 50px">
  		<ol>
      		<li><p>Extend HTML Files</p></li>
      		<li><p>Handle Form Validations</p></li>
      		<li><p>Handle Repeating Elements</p></li>
      		<li><p>Implement Routing</p></li>
   		</ol>
	</div>
</body>
</html>