doctype html
html
  head
    title Search Users Page
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style.
      .modal-header, h4, .close {
      background-color: #99ccff;
      color:white !important;
      text-align: center;
      font-size: 50px;
      font-family: 'Faster One', cursive;
      }
      .modal-footer {
      background-color: #f9f9f9;
      }
      table{
      table-layout: fixed;
      width: 100%;
      }
      th{
      text-align: center;
      background-color: green;
      color: white;
      }
      body{
      background: url('/images/searchbg.jpg');
      background-size: cover;
      }
  body
    .container
      // Modal
      #myModal.modal.fade(role='dialog', data-backdrop="static" ,data-keyboard="false")
        .modal-dialog
          // Modal content
          .modal-content
            .modal-header(style='padding:35px 50px;')
              h4
                |  Search Users
            .modal-body
              table(border=1)
                tr
                  th Firstname
                  th Lastname
                  th Skills
              br
              form(action="/search" method="post")
                .form-group
                input.form-control(type='text', name='skills', placeholder='Enter skill(s), separated by a comma')
                br
                button.btn.btn-primary.btn-block(type='submit')
                    | Find User(s)
            .modal-footer
              button.btn.btn-danger.btn-default.pull-left(type='submit', data-dismiss='modal' onclick="window.location='/'")
                span.glyphicon.glyphicon-remove
                |  Cancel
    script.
      $(document).ready(function(){
      $("#myModal").modal();
      });