doctype html
html(lang='en')
  head
    link(href='https://fonts.googleapis.com/css?family=Spectral+SC', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Poiret+One|Monoton|Rye', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    title Main page
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDZRAiM-bisj2U3fov8oir9jxUoo34xwYA')
    script.
    
      $(document).ready(function () {
      $('#submitbutton').click(function() {checked = $("input[type=checkbox]:checked").length;
      if(!checked) {
      alert("You must check at least one checkbox!");
      return false;
      }
      });
      });



      function drawmap() {
      var myCenter = new google.maps.LatLng(37.335187,-121.881072);
      var mapCanvas = document.getElementById("map");
      var mapOptions = {center: myCenter, zoom: 5};
      var map = new google.maps.Map(mapCanvas, mapOptions);
      var marker = new google.maps.Marker({position:myCenter,animation: google.maps.Animation.BOUNCE});
      marker.setMap(map);

      var infowindow = new google.maps.InfoWindow({
      content: "San Jose State University <br> 1 Washington Street <br> San Jose, CA 95192"
      });

      infowindow.open(map,marker);
      }

      $(function(){
      drawmap();
      });

      $(document).ready(function(){
        $("#m").click(function(){
          $(".show").load("mongo");
      });
      });

      $(document).ready(function(){
        $("#e").click(function(){
          $(".show").load("express");
      });
      });

      $(document).ready(function(){
        $("#a").click(function(){
          $(".show").load("angular");
      });
      });

      $(document).ready(function(){
        $("#n").click(function(){
          $(".show").load("node");
      });
      });
      
      $( function() {
      $( document ).tooltip({
      track: true
      });
      });

      $(document).ready(function(){
      $("#title").delay(400).animate({opacity:'1'},1500);
      });

      $(document).ready(function(){
      $("h3").delay(1200).animate({opacity:'1'},1500);
      });

    style.
      .bmenu{
      padding: 0px;
      margin: 0px 0 10px 0;
      position: relative;
      }
      .bmenu li{
      letter-spacing: 3px;
      font-size : 50px;
      display: block;
      padding: 50px;
      }
      .bmenu li a{
      display: block;
      text-transform: uppercase;
      text-shadow: 0px 0px 3px #fff;
      }
      .bmenu li a:hover{
      font-style: oblique;
      color: #fff;
      text-shadow: 0px 0px 1px #fff;
      padding-left: 50px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      }
      .profileIcon, .loginIcon{
      text-shadow: none;
      }
      body,html{
      margin: 0px;
      padding: 0px;
      overflow-x: hidden;
      }
      #box1{
      height: 100vh;
      width: 100%;
      background-image: url(/images/resumebg.jpg);
      background-size: cover;
      display: table;
      background-attachment: fixed;
      }
      #box2{
      height: 100vh;
      width: 100%;
      background-image: url(/images/1.jpg);
      background-size: cover;
      display: table;
      background-attachment: fixed;
      margin:0;
      }
      #box3{
      height: 100vh;
      width: 100%;
      background-image: url(/images/2.jpg);
      background-size: cover;
      display: table;
      background-attachment: fixed;
      margin:0;
      }
      #box4{
      height: 100vh;
      width: 100%;
      background-image: url(/images/4.jpg);
      background-size: cover;
      display: table;
      background-attachment: fixed;
      }
      ul li{
      font-family: 'Poiret One', cursive;
      font-size: 20px;
      font-weight: bold;
      }
      ul li a:hover{
      text-shadow: 7px 4px 6px white;
      }
      h1{
      padding-top: 40vh;
      text-align: center;
      font-size: 45px;
      letter-spacing: 3 px;
      font-family: 'Spectral SC';
      }
      #title{
      text-shadow: 5px 5px 5px lightblue;
      opacity: 0;
      }
      h3{
      color:white;
      font-family: 'Spectral SC';
      text-align: center;
      opacity: 0;
      }
      .acc{
      color:black;
      font-weight: bold;
      font-family: 'Spectral SC';
      font-size: 15 px;
      text-align: center;
      }
      p{
      color:black;
      font-family: 'Spectral SC';
      text-align: center;
      }
      p.about{
      font-size:20px;
      color: white;
      font-weight: bold;
      line-height: 2
      }
      .img-circle{
      display: block;
      margin-left: auto;
      margin-right: auto;
      opacity:0.7;
      }
      .img-circle:hover{
      cursor: pointer;
      opacity: 1;
      border: 4px solid #c3cee0;
      }
      .img-square{
      margin-left: auto;
      margin-right: auto;
      margin-top: 30vh;
      display: block;
      }
      .input:focus{
      outline:none !important;
      border: 3px solid #74b7e8;
      }
      .column {
      float: left;
      width: 50%;
      height: 150px;
      padding: 15px;
      }
      .row:after {
      content: "";
      display: table;
      clear: both;
      }      
  body(data-spy='scroll', data-target='.navbar', data-offset='50')
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.navbar-header.pull-left(style="color: white;font-family: 'Monoton', cursive;") GroupBy
        .collapse.navbar-collapse.pull-right
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#box2') About Us
            li
              a(href='#box4') Contact US
            li
              a(href='registration')
                span.glyphicon.glyphicon-user.profileIcon
                |  Sign Up
            li
              a(href='login')
                span.glyphicon.glyphicon-log-in.loginIcon
                |  Login
    #box1
      h1#title Web UI Design and Development
      br
      #members
        h3 Praneetha Reddy Devireddy
        h3 Amir Radman
        h3 Ketki Bhusari
        h3 Yamin Wang
    #box2
      #intro.text-center
        h2(style="font-family: 'Poiret One', cursive; font-weight:bolder; color:white")
          u Team ACE
        p.about
          | Our team is a group of 4 gradute students working on 
          br
          |  creating an application to provide the employers
          br
          | a more convenient way to learn more
          br
          |  about us and contact us directly
          br
      br
      br
      br
      br
      .row.container-center
        .col-xs-12.col-sm-6.col-md-3
          a(href='#desc1', data-toggle='collapse')
            img.img-circle(src='/images/amir.jpg', width='250', height='250')
          #desc1.collapse
            p(style="color: white;")
              | My name is Amir Radman
              br
              br
              | and I'm a graduate student
              br
              br
              | majoring in software engineering
              br
              br
              | My area of focus is web development
              br
              br
              | and I expect graduation in May 2020
              br
            p
              a(href='#')
                i.fa.fa-facebook-square(style='font-size:30px; color:white')
              | &nbsp
              span
                a(href='#')
                  i.fa.fa-linkedin-square(style='font-size:30px; color:white;')
              | &nbsp
              span
                a(href='#')
                  i.fa.fa-git-square(style='font-size:30px; color:white;')
              | &nbsp
              span
                a(href="https://s3.amazonaws.com/groupbyresumes/Resume.pdf" target="_blank")
                  i.fa.fa-cloud-download(style="font-size: 30px; color:white")
        .col-xs-12.col-sm-6.col-md-3
          a(href='#desc2', data-toggle='collapse')
            img.img-circle(src='/images/ketki.jpg', width='250', height='250')
          #desc2.collapse
            p(style="color: white;")
              | My name is Ketki Bhurasi
              br
              br
              | and I'm a graduate student
              br
              br
              | majoring in software engineering
              br
              br
              | My area of focus is cloud computing
              br
              br
              | and I expect graduation in May 2018
              br
            p
              a(href='#')
                i.fa.fa-facebook-square(style='font-size:30px; color:white')
              | &nbsp
              span
                a(href='#')
                  i.fa.fa-linkedin-square(style='font-size:30px; color:white;')
              | &nbsp
              span
                a(href='#')
                  i.fa.fa-git-square(style='font-size:30px; color:white;')
              | &nbsp
              span
                a(href="https://s3.amazonaws.com/groupbyresumes/Ketki+Bhusari_Resume.pdf" target="_blank")
                  i.fa.fa-cloud-download(style="font-size: 30px; color:white")
        .col-xs-12.col-sm-6.col-md-3
          a(href='#desc3', data-toggle='collapse')
            img.img-circle(src='/images/praneetha.jpg', width='250', height='250')
          #desc3.collapse
            p(style="color: white;")
              | My name is Praneetha Devireddy
              br
              br
              | and I'm a graduate student
              br
              br
              | majoring in software engineering
              br
              br
              | My area of focus is EST
              br
              br
              | and I expect graduation in May 2018
              br
            p
              a(href='#')
                i.fa.fa-facebook-square(style='font-size:30px; color:white')
              | &nbsp
              span
                a(href='#')
                  i.fa.fa-linkedin-square(style='font-size:30px; color:white;')
              | &nbsp
              span
                a(href='#')
                  i.fa.fa-git-square(style='font-size:30px; color:white;')
              | &nbsp
              span
                a(href="https://s3.amazonaws.com/groupbyresumes/Praneethareddy.pdf" target="_blank")
                  i.fa.fa-cloud-download(style="font-size: 30px; color:white")
        .col-xs-12.col-sm-6.col-md-3
          a(href='#desc4', data-toggle='collapse')
            img.img-circle(src='/images/yamin.jpg', width='250', height='250')
          #desc4.collapse
            p(style="color: white;")
              | My name is Yamin Wang
              br
              br
              | and I'm a graduate student
              br
              br
              | majoring in electrical engineering
              br
              br
              | My area of focus is networking
              br
              br
              | and I expect graduation in May 2018
              br
            p
              a(href='https://www.facebook.com/profile.php?id=100013453896507')
                i.fa.fa-facebook-square(style='font-size:30px; color:white')
              | &nbsp
              span
                a(href='https://www.linkedin.com/in/yamin-wang-3a0a7b121/')
                  i.fa.fa-linkedin-square(style='font-size:30px; color:white;')
              | &nbsp
              span
                a(href='https://github.com/Yamin1900')
                  i.fa.fa-git-square(style='font-size:30px; color:white;')
              | &nbsp
              span
                a(href="https://s3.amazonaws.com/groupbyresumes/yaminresume.pdf" target="_blank")
                  i.fa.fa-cloud-download(style="font-size: 30px; color:white")         
    #box3.container-fluid
      .row
      .col-sm-12.col-md-12.col-lg-12
        h2(style="letter-spacing:2px;text-align: center;border-radius:25px;font-family:Rye; color: white;") Technologies Used
        br
        br 
      .row
        .col-sm-12.col-md-12.col-lg-6(style="height: 100vh;")
          ul.bmenu
            li 
              a(id="m" , style="cursor:pointer;") MongoDB
            li 
              a(id="e" , style="cursor:pointer;") Express
            li 
              a(id="a" , style="cursor:pointer;") AngularJS
            li 
              a(id="n" , style="cursor:pointer;") NodeJS
        .col-sm-12.col-md-12.col-lg-6(style="margin-top: 40px; height: 70vh;")
          .show
    #box4
      .row
      .col-sm-12.col-md-12.col-lg-12
        h2(style="letter-spacing:2px;margin-top:10vh;text-align: center;border-radius:25px;background: -webkit-linear-gradient(top,#eee, #333);font-family:Rye;") FEEL FREE TO CONTACT US! 
      .row(style="margin-top: 30vh;")
      .col-sm-12.col-md-6.col-lg-6
        .formContainer
          form.form-horizontal(action='contactProcess', method='POST')
            .form-group
              label.control-label.col-sm-2(name='name') Name:
              .col-sm-10
                input.form-control(type='text', name='name', placeholder='Enter your name', required='', class='input')
            .form-group
              label.control-label.col-sm-2(name='email') Email:
              .col-sm-10
                input.form-control(type='email', name='email', placeholder='Enter your email', required='', class='input' title="We ask for email in order to contact you back")
            .form-group
              label.control-label.col-sm-2(name='contact') Recipient(s):
              .col-sm-10
                input(type='checkbox', name="rec" , value=process.env.AMIR_EMAIL)
                | Amir Radman
                | &nbsp&nbsp
                span
                  input(type='checkbox', name="rec" , value=process.env.KETKI_EMAIL)
                  | Ketki Bhusari
                | &nbsp&nbsp
                span
                  input(type='checkbox', name="rec" , value=process.env.PRANEETHA_EMAIL)
                  | Praneetha Devireddy
                | &nbsp&nbsp
                span
                  input(type='checkbox', name="rec" , value=process.env.YAMIN_EMAIL)
                  | Yamin Wang
                fieldset.
            .form-group
              label.control-label.col-sm-2(name='comment') Comment/Question:
              .col-sm-10
                textarea.form-control(id="resizable" rows='5', cols='5', name='comment', placeholder='Enter your comment/question', required='', class='input')
            .form-group(style='text-align:center;')
              .col-sm-offset-2.col-sm-10
                button.btn.btn-success(input type='submit' id="submitbutton") Submit
      .col-sm-12.col-md-6.col-lg-6
        #map(style="width:100%;height:322px")