doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style.
      .modal-header, h4, .close {
      background-color: #99ccff;
      color:white !important;
      text-align: center;
      font-size: 50px;
      font-family: 'Faster One', cursive;
      }
      .modal-footer {
      background-color: #f9f9f9;
      }
  body
    .container
      // Modal
      #myModal.modal.fade(role='dialog')
        .modal-dialog
          // Modal content
          .modal-content
            .modal-header(style='padding:35px 50px;')
              h4
                span.glyphicon.glyphicon-log-in
                |  Login
            .modal-body(style='padding:40px 50px;')
              form(action="login" method="POST")
                .form-group
                  label
                    span.glyphicon.glyphicon-user
                    |  Username
                  input.form-control(type='text', name='username', placeholder='Enter username' required)
                .form-group
                  label
                    span.glyphicon.glyphicon-eye-open
                    |  Password
                  input.form-control(type='password', name='password',id="pass", placeholder='Enter password' required)
                  <input type="checkbox" id="showpassword">Show Password</input>
                button.btn.btn-success.btn-block(type='submit' id="send")
                  |  Login
            .modal-footer
              button.btn.btn-danger.btn-default.pull-left(type='submit', data-dismiss='modal')
                span.glyphicon.glyphicon-remove
                |  Cancel
              p
                | Don't have an account? 
                a(href='registration') Register!
    script.
      $(document).ready(function(){
      $("#myModal").modal();
      });

      $('#showpassword').click(function(){
      if(document.getElementById('showpassword').checked) {
      $('#pass').get(0).type = 'text';
      } else {
      $('#pass').get(0).type = 'password';
      }
      });