doctype html
html
  head
    title Registration Page!
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style.
      .modal-header, h4, .close {
      background-color: #99ccff;
      color:white !important;
      text-align: center;
      font-size: 50px;
      font-family: 'Faster One', cursive;
      }
      .modal-footer {
      background-color: #f9f9f9;
      }
      body{
      background: url('/images/lrbg.jpg');
      background-size: cover;
      }
  body
    .container
      // Modal
      #myModal.modal.fade(role='dialog', data-backdrop="static" ,data-keyboard="false")
        .modal-dialog
          // Modal content
          .modal-content
            .modal-header(style='padding:35px 50px;')
              h4
                span.glyphicon.glyphicon-ok-circle
                |  Register
            .modal-body(style='padding:40px 50px;')
              <p style="color: red; text-align: center; text-transform: uppercase; text-decoration: underline;">#{duplicateUsername}</p>
              form(action="registration" method="POST")
                .form-group
                  label
                    span.glyphicon.glyphicon-user
                    |  Username
                  input.form-control(type='text', name='username', placeholder='Enter username' required)
                .form-group
                  label
                    span.glyphicon.glyphicon-user
                    |  Firstname
                  input.form-control(type='text', name='firstname', placeholder='Enter your firstname' required)
                .form-group
                  label
                    span.glyphicon.glyphicon-user
                    |  Lastname
                  input.form-control(type='text', name='lastname', placeholder='Enter your lastname' required)
                .form-group
                  label
                    span.glyphicon.glyphicon-list
                    |  Skills
                  input.form-control(type='text', name='skills', placeholder='Enter skills, separated by a comma' required)
                .form-group
                  label
                    span.glyphicon.glyphicon-eye-open
                    |  Password
                  input.form-control(type='password', name='password',id="pass", placeholder='Enter password' required)
                .form-group
                  label
                    span.glyphicon.glyphicon-eye-open
                    |  Retype-Password
                  input.form-control(type='password', name='repassword',id="repass",placeholder='Re-enter password' required)
                  <p id="message"></p>
                  <input type="checkbox" id="showpassword">Show Password</input>
                button.btn.btn-success.btn-block(type='submit' id="send" disabled)
                  |  Register
            .modal-footer
              button.btn.btn-danger.btn-default.pull-left(type='submit', data-dismiss='modal' onclick="window.location='/'")
                span.glyphicon.glyphicon-remove
                |  Cancel
              p
                | Already a member? 
                a(href='login') Login
    script.
      $(document).ready(function(){
      $("#myModal").modal();
      });

      $('#showpassword').click(function(){
      if(document.getElementById('showpassword').checked) {
      $('#pass').get(0).type = 'text';
      $('#repass').get(0).type = 'text';
      } else {
      $('#pass').get(0).type = 'password';
      $('#repass').get(0).type = 'password';
      }
      });

      $('#pass, #repass').on('keyup', function () {
      if ($('#pass').val() == $('#repass').val()) {
      $('#message').html('');
      $('#pass').css('border','2px solid #2ed130');
      $('#repass').css('border','2px solid #2ed130');
      document.getElementById("send").disabled = false;
      } else{
      //
        $('#message').html('Passwords are not matching!').css('color', 'red');
      $('#pass').css('border','2px solid #e51616');
      $('#repass').css('border','2px solid #e51616');
      document.getElementById("send").disabled = true;
      }
      });
